{% extends "bussiness/header.html" %}
{% load static %}
{% block content %}
<style>
.container.mt-5 {
    max-width: 500px;
}
</style>
<br><br>
<h1 class="text-center mb-4">Survey Questions</h1>
<div class="container mt-5">
    <div class="card shadow p-4">
        
        </style>
        
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_question" class="form-label">Question:</label>
                {{ form.question }}
            </div>
            <div class="mb-3">
                <label for="id_option1" class="form-label">Option 1:</label>
                {{ form.option1 }}
            </div>
            <div class="mb-3">
                <label for="id_option2" class="form-label">Option 2:</label>
                {{ form.option2 }}
            </div>
            <div class="mb-3">
                <label for="id_option3" class="form-label">Option 3:</label>
                {{ form.option3 }}
            </div>
            <div class="mb-3">
                <label for="id_option4" class="form-label">Option 4:</label>
                {{ form.option4 }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Save Changes</button>
        </form>
    </div>
</div>
{% endblock %}
